{{>top}}
<div class="main">
    <div class="container">
        <div class="signup-content">
            {{>leftsec}}
            <div class="signup-form">
                <div class="form-submit submit_form"">
                 {{>registerlink}}

                 {{>loginlink}}
                </div>
                </form>
            </div>
        </div>
    </div>a

</div>
{{>bottom}}