<div class="form-submit submit_form d_flex">
	<a href=" /" class="form_link"> <button type="button" class="submit btn_color" name="register">Home</button></a>
	<a href=" /register" class="form_link"> <button type="button" class="submit btn_color"
			name="register">Register</button></a>
	<a href="/login" class="form_link"> <button type="button" class="submit btn_color" name="login">
			Login</button></a>

</div>